html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-image: linear-gradient(45deg, #efe3e0 50%, #ae92e6 100%);
    color: #fff;
}

body .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.5em;
}

body .title h1 {
    margin: 0;
    font-size: 10vh;
}

.content {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content .flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navigation Bar */
.navbar {
    list-style-type: none;
    margin-bottom: 2vh;
    display: flex;
    align-items: center;
}
.navbar a:link {
    text-decoration: none;
    margin: 0 0.5em;
    display: flex;
    width: 17vw;
    height: 6vh;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 2.5vh;
    border-radius: 0.25em;
    background-color: #fff;
}

.navbar a:hover {
    text-decoration: none;
    margin: 0 0.5em;
    display: flex;
    width: 17vw;
    height: 6vh;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 0.25em;
    background-color: black;
}

/* Scroll Box */
.smooth {
    scroll-behavior: smooth;
    overflow: hidden;
    display: flex;
    height: 80vh;
    flex-direction: column;
    border: 1px solid #fff;
    border-radius: 0.25em;
}
.smooth section {
    display: flex;
    width: 95vw;
    min-height: 80vh;
    /*
    justify-content: center;
    align-items: center; */
}

.smooth p {
    font-size: 3vh;
}

/* Food for Thought */
.note {
    display:inline-block;
    width: 34vh;
    height: 34vh;
    /*float: left;*/
    margin: 1vw;
    border: 0.1vh solid rgba(0,0,0,0.35);
    box-shadow: 0 0.187em 0.375em rgba(0,0,0,0.35);
    -webkit-box-shadow: 0 0.187em 0.375em rgba(0,0,0,.35);
    -moz-box-shadow: 0 0.187em 0.375em rgba(0,0,0,.35);
    display: flex;
    justify-content: center;
    align-items: center;
}

.fft {
    display: block;
    height: 30vh;
    width: 30vh;
    opacity: 1;
    transition: 0.5s ease;
    backface-visibility: hidden;
}

.center {
    height: 33vh;
    width: 33vh;
    position: absolute;
    opacity: 0;
    transition: 0.5s ease;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.note:hover .fft {
    opacity: 0.25;
}

.note:hover .center {
    opacity: 1;
}

.note p {
    padding: 0.5vh 2vh;
    text-align: center;
}

.fact1 {
    background-color: rgb(252, 66, 66);
}
.fact2 {
    background-color:rgb(250, 247, 92)
}





