* {
    box-sizing: border-box;
}
/* Header */
.header {
    background-color: rgb(186, 186, 243);
    text-align: center;
    padding: 0.5%;
}


/* Navbar */
ul {
    border-radius:15px;
    list-style-type: none;
    margin-top: 0.5%;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
    float: left;
}
  
li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #111;
}

/* Parallax Scroll Effect */
.parallax {
    background-image: url("trialRose.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Column Layout */
.leftColumn {   
    float: left;
    width: 25%;
}
  
.rightColumn {
    float: left;
    width: 75%;
    background-color: #f1f1f1;
    padding-left: 20px;
}

.placeholderImage {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}


.post {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

/* Responsive Layout */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 400px) {
    .li a {
        float: none;
        width: 100%;
    }
}
