
/* Overall Website Formatting */ 
* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    font-family: "Times New Roman";
    color: white;
    background-image: linear-gradient(45deg, #efe3e0 50%, #ae92e6 100%);
    background-attachment: fixed;
}



/* Home Page */

/* Navigation Bar */
/* Formats the top header and the navigation bar in the top right */

/* General Formatting */
* {
    text-decoration: none; 
    list-style: none; 
    margin: 0px; 
    padding: 0px; 
    outline: none;
}
section {
    width: 100%; 
    max-width: 1200px; 
    margin: 0px auto; 
    display: table; 
    position: relative;
}
header {
    width: 100%;
    display: table; 
    margin-bottom: 50px;
}

/* Tab Layout */
nav {
    width: auto; 
    float: right;
}
nav ul {
    display: table; 
    float: right;
}
nav ul li {
    float: right;
}
nav ul li:last-child {
    padding-right: 0px;
}
nav ul li a {
    border-radius: 15px;
    color:black; 
    font-size: 20px; 
    padding: 10px 20px;
    margin-top: 10px;
    margin-left: 4px; 
    display: inline-block; 
    transition: all 0.5s ease 0s;
}
nav ul li a:hover {
    background-image: radial-gradient(white,rgb(213, 173, 247)); 
    padding: 14px 28px;
    color:black; 
    transition: all 0.5s ease 0s;

    /* Shine Effect */
    -webkit-mask-image: linear-gradient(-75deg, black 30%, rgba(0,0,0,0.6) 50%, black 70%);
    -webkit-mask-size: 200%;
    animation: shine 1.5s;
}
@-webkit-keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }
}
nav ul li a:hover i {
    color:#fde428; 
    transition: all 0.25s ease 0s;
}
nav ul li a i {
    padding-right: 10px; 
    color:#002e5b; 
    transition: all 0.5s ease 0s;
}

/* Menu Toggle (for smaller windows / mobile devices) */
.toggle-menu ul {
    display: table; 
    width: 25px;
}
.toggle-menu ul li {
    width: 100%; 
    height: 3px; 
    background-color:#002e5b; 
    margin-bottom: 4px;
}
.toggle-menu ul li:last-child {
    margin-bottom: 0px;
}
input[type=checkbox], label {
    display: none;
}



/* Home Page */

/* Spacing */
/* Adds the appropriate spacing on the website to position text in the desired areas */
.middleSpacing {
    padding: 30vh;
    width: 100%;
}

/* Front Page Title */
.frontTitle {
    float:left;
    width:60%;
    padding:0 20px;
    position: fixed;
    bottom: 100px;
    left: 10px;
}
@font-face {
    font-family: titleFont;
    src: url(InkyDinky.ttf);
}
.frontTitle h1 {
    color: black;
    font-size: 100px;
    font-family: titleFont;
}
.frontTitle h1::first-letter {
    letter-spacing: 2px;
}

.frontTitle h3 {
    color: purple;
    text-decoration: overline;
}



/* Food for Thought! */
/* General Layout */
.fftContainer {
    position: absolute;
    left: 5%;
    top: 20%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.post {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 0.5px solid rgba(0,0,0,0.4);
    box-shadow: 0 3px 6px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center; 
}
.postImage {
    display: block;
    width: 175px;
    height: 175px;
    opacity: 1;
    transition: 0.5s ease;
    backface-visibility: hidden;
}
.post p {
    height: 170px;
    margin-top: 20px;
    width: 180px;
    opacity: 0;
    position: absolute;
    transition: 0.5s ease;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.post p::-webkit-scrollbar {
    display: none;
}
.post:hover .postImage {
    opacity: 0.25;
}
.post:hover p {
    opacity: 1;
    color: white;
}

.red {
    background-color: rgb(252,66,66);
}
.yellow {
    background-color: rgb(250,247,92);
}
.blue {
    background-color: lightblue;
}
.orange {
    background-color: orange;
}
.green {
    background-color: lightgreen;
}
.violet {
    background-color: violet;
}
.brown {
    background-color: rgba(107, 26, 26, 0.61);
}
.navy {
    background-color: navy;
}
.orangered {
    background-color: orangered;
}



/* Featured Posts */
/* Content Container */
.fpContainer {
    position: absolute;
    left: 2.5%;
    top: 20%;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.fpPost {
    width: 75%;
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
}
.fpPost h1 {
    font-size: 24px;
    color: black;
}
.fpSide {
    width: 20%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}
.fpSide p {
    margin: auto;
    text-align: center;
    color: black;
    font-size: 30px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    border-style: groove;
    border-color: plum;
    border-width: 4px;
    padding: 15px;
}
.featured {
    background-color: transparent;
}
.featured p {
    text-indent: 50px;
    font-size: 18px;
    color: gray;
}
.postSlideContainer {
    width: 350px;
    height: 350px;
    background-color: transparent;
    float: left;
    margin-right: 10px;
}

/* Post Visual Slideshow */
.mySlides1, .mySlides2 {
    display: none;
}
.slideshow-container {
    width: 350px;
    height: 350px;
    position: relative;
    margin: auto;
}
.slideshow-container img {
    vertical-align: middle;
    width: 350px;
    height: 350px;
    border-style: solid;
    border-color: black
}
.prev1, .next1, .prev2, .next2 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.prev1, .next1 {
    color: black;
}
.prev2, .next2 {
    color: white;
}
.next1, .next2 {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev1:hover, .next1:hover {
    background-color: white;
    border-style: solid;
    border-color: black;
}
.prev2:hover, .next2:hover {
    background-color: rgba(0,0,0,0.8);
    border-style: solid;
    border-color: white;
}
/* Number text (1/3 etc) */
.numbertext1, .numbertext2 {
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.numbertext1 {
    color: black;
}
.numbertext2 {
    color: white;
}
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.5s;
    animation-name: fade;
    animation-duration: 0.5s;
}
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}



/* Post Archive */
.choiceContainer {
    position: absolute;
    top: 30%;
    width: 80%;
    left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.choiceContainer img {
    width: 275px;
    height: 250px;
    margin: 0vw 5vw;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}
.choiceContainer h1 {
    text-align: center;
    font-size: 30px;
    padding: 20px;
}
.choiceContainer img:hover {
    box-shadow: 0px 0px 10px 5px purple;
    transition: 0.5s ease;
}
.backButton {
    width: 300px;
    height: 50px;
    text-align: center;
}
.backButton a {
    font-size: 24px;
    border-style: solid;
    padding: 10px;
}
.backButton a:hover {
    background-color: skyblue;
}



/* Food For Thought Archive */
.archive1, .archive2  {
    position: absolute;
    left: 5%;
    top: 20%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.archive1 p, .archive2 p {
    margin-top: 120px;
    font-size: 58px;
}



/* Informational Posts Archive */

/* About Us */
.aboutContainer {
    position: absolute;
    left: 10%;
    top: 20%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.logoContainer {
    background-color: transparent;
}
.logoContainer img {
    height: 300px;
    width: 450px;
}
.descriptionContainer {
    background-color: transparent;
    color: lightslategray;
}
.descriptionContainer p {
    font-size: 15px;
    text-indent: 25px;
}

.descriptionContainer p1 {
    font-size: 20px;
    margin-right: 150px;
    float: right;
}

.descriptionContainer p2 {
    font-size: 20px;
    float: right;
}

.descriptionContainer p3 {
    display: flex;
    font-size: 22.5px;
    justify-content: center;
    align-items: center;
}


/* Coming Soon */
.peekContainer {
    position: absolute;
    left: 10%;
    top: 20%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.peekContainer h1 {
    color: black;
    /*font-size: 80px;
    font-family: titleFont;*/
}





/* Responsive Components */

/* Responsive Navigation Bar Layout */
@media only screen and (max-width: 1440px) {
    section {
        max-width: 95%;
    }
}

@media only screen and (max-width: 980px) {
    header {
        padding: 20px 0px;
    }
    input[type=checkbox] {
        position: absolute; 
        top: -9999px; left: -9999px; 
        background: none;
    }
    input[type=checkbox]:fous {
        background:none;
    }
    label {
        float: right;
        padding: 8px 0px; 
        display: inline-block; 
        cursor: pointer; 
    }
    input[type=checkbox]:checked ~ nav {
        display: block;
    }
    nav {
        display: none; 
        position: absolute; 
        right: 0px; 
        top: 53px; 
        background-color:#002e5b; 
        padding: 0px; 
        z-index: 99;
        border-radius: 10px;
    }
    nav ul {
        width: auto;
    }
    nav ul li {
        float: none; 
        padding: 0px; 
        width: 100%; 
        display: table;
    }
    nav ul li a {
        color:#FFF; 
        font-size: 15px; 
        padding: 10px 20px; 
        display: block; 
        border-bottom: 1px solid rgba(225,225,225,0.1);
        border-radius: 0;
    }
    nav ul li a:hover {
        background-image: none;
        background-color: #002e5b; 
        padding: 14px 20px;
        color:#ffff4f; 
        transition: all 0.5s ease 0s;
    }
    nav ul li a i {
        color:#fde428; 
        padding-right: 13px;
    }
}

@media only screen and (max-width: 980px) {
    .content {
        width:90%;
    }
}

@media only screen and (max-width: 568px) {
    h1 {
        padding: 25px 0px;
    }
    h1 span {
        display: block;
    }
}

@media only screen and (max-width: 480px) {
    section {
        max-width: 90%;
    }
}

@media only screen and (max-width: 360px) {
    h1 {
        font-size: 20px;
    }
    label {
        padding: 5px 0px;
    }
    #logo {
        font-size: 20px;
    }
    nav {
        top: 47px;
    }
}

@media only screen and (max-width: 320px) {
    h1 {
        padding: 20px 0px;
    }
}

/* Additional */
@media only screen and (max-width:620px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width:100%;
    }
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {
        font-size: 11px
    }
}


  /* Keep */
@media only screen and (max-width: 900px) {
    .fpContainer {
        flex-direction: column;
    }

    .fpPost, .fpSide {
        width: 100%;
        margin: 0%;
    }

    .fpSide {
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .fpSide p {
        writing-mode: horizontal-tb;
    }

    .aboutContainer {
        flex-direction: column;
    }
}

@media only screen and (max-width: 700px) { 
    .postSlideContainer, .slideshow-container, .slideshow-container img {
        height: 250px;
        width: 250px;
    }
    .choiceContainer {
        flex-direction: column;
    }
    .choiceContainer img {
        margin-top: 5vh;
    }
}



  



